
body {
  padding-bottom: 5px;
}
.box {
  margin: 15px;
  height: 300px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  transition: .2s;
}
.box:hover {
  font-size: large;
  font-style: bold;
  border-width: 8px;
  border-bottom-style: solid ;
  border-color: #ffffff;
  -webkit-filter: hue-rotate(240deg) saturate(3.3);

}

.navbar-inner {
    opacity: 0.8;
}


img {
    max-width: 100%;
    height: auto;
}

#first {
  background-image: url("../images/camera.jpg");
}

#second {
  background-image: url("../images/accesories.jpg");
}

#third {
  background-image: url("../images/product.jpg");
}

footer {
    background: #f8f8f8 none repeat scroll 0 0;
    bottom: 0;
    position: fixed;
    justify-content: space-between;
    padding: 5px 14px;
    width: 100%;
    border-top-style: solid ;
    border-color: #e7e7e7;
    border-width: 1px;
}
.social {
    text-align:left;
    justify-content: space-between;
}
.social > a {
  color:inherit;
}
.branding {
    text-align: right;
}
